<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Page</title>
    <link rel="stylesheet" href="media/css/output.css" />
  </head>
  <body class="">
    <!-- //////////////////////////////////////////////////////////////////// -->
    <div class="header absolute top-0 left-0 z-40 flex w-full items-center">
      <div class="container">
        <div class="relative flex items-center justify-between">
          <div class="w-60 max-w-full px-4">
            <div class="flex-shrink-0 ml-10 cursor-pointer">
              <span
                class="navbar-logo ml-1 text-3xl text-slate-50 font-semibold"
                >FFR</span
              >
            </div>
          </div>
          <div class="flex w-full items-center justify-between px-4">
            <div>
              <button
                id="navbarToggler"
                class="absolute mt-1 right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-cyan-400 focus:ring-2 lg:hidden"
              >
                <span
                  class="relative my-[6px] block h-[2px] w-[30px] bg-white"
                ></span>
                <span
                  class="relative my-[6px] block h-[2px] w-[30px] bg-white"
                ></span>
                <span
                  class="relative my-[6px] block h-[2px] w-[30px] bg-white"
                ></span>
              </button>
              <nav
                id="navbarCollapse"
                class="absolute right-4 top-full hidden w-full max-w-[250px] rounded-lg bg-white py-5 shadow-lg lg:static lg:block lg:w-full lg:max-w-full lg:bg-transparent lg:py-0 lg:px-4 lg:shadow-none xl:px-6"
              >
                <ul class="block lg:flex ml-20">
                  <li class="group relative">
                    <a
                      href="#"
                      class="menu-scroll mx-8 font-semibold flex py-2 text-base text-dark group-hover:text-cyan-500 lg:mr-0 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70"
                    >
                      Home
                    </a>
                  </li>
                  <li class="group relative">
                    <a
                      href="#"
                      class="menu-scroll mx-8 font-semibold flex py-2 text-base text-dark group-hover:text-cyan-500 lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12"
                    >
                      About
                    </a>
                  </li>
                  <li class="group relative">
                    <a
                      href="#"
                      class="menu-scroll mx-8 font-semibold flex py-2 text-base text-dark group-hover:text-cyan-500 lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12"
                    >
                      Recognition
                    </a>
                  </li>
                  <li class="group relative">
                    <a
                      href="#"
                      class="menu-scroll mx-8 font-semibold flex py-2 text-base text-dark group-hover:text-cyan-500 lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12"
                    >
                      Team
                    </a>
                  </li>
                  <li class="group relative">
                    <a
                      href="#"
                      class="menu-scroll mx-8 font-semibold flex py-2 text-base text-dark group-hover:text-cyan-500 lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12"
                    >
                      Contact
                    </a>
                  </li>
                  <li class="submenu-item group relative">
                    <a
                      href="javascript:void(0)"
                      class="relative mx-8 font-semibold flex py-2 text-base text-dark after:absolute after:right-1 after:top-1/2 after:mt-[-2px] after:h-2 after:w-2 after:-translate-y-1/2 after:rotate-45 after:border-b-2 after:border-r-2 after:border-current group-hover:text-cyan-400 lg:mr-0 lg:ml-8 lg:inline-flex lg:py-6 lg:pl-0 lg:pr-4 lg:text-white lg:after:right-0 lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12"
                    >
                      Pages
                    </a>
                    <div
                      class="submenu relative top-full left-0 hidden w-[250px] rounded-xl bg-white p-4 transition-[top] divide-y duration-300 group-hover:opacity-100 lg:invisible lg:absolute lg:top-[110%] lg:block lg:opacity-0 lg:shadow-lg lg:group-hover:visible lg:group-hover:top-full"
                    >
                      <a
                        href="about.html"
                        class="block rounded py-[10px] px-4 font-semibold duration:300 text-sm hover:bg-cyan-600 hover:text-slate-50"
                      >
                        About Page
                      </a>
                      <a
                        href="signin.html"
                        class="block rounded py-[10px] font-semibold duration:300 px-4 text-sm hover:bg-cyan-600 hover:text-slate-50"
                      >
                        Sign In Page
                      </a>
                      <a
                        href="404.html"
                        class="block rounded py-[10px] font-semibold duration:300 px-4 text-sm hover:bg-cyan-600 hover:text-slate-50"
                      >
                        404 Page
                      </a>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="hidden justify-end pr-16 sm:flex lg:pr-0">
              <a
                class="signUpBtn mt-3 cursor-pointer rounded-full bg-white py-3 px-6 text-base font-semibold text-cyan-400 duration-300 ease-in-out hover:bg-cyan-600 hover:text-slate-50 drop-shadow-lg"
              >
                Sign in
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////// -->
    {{{body}}}
    <!-- ////////////////////////////////////////////////////////////////////////// -->
  </body>
  <script src="/media/js/main.js"></script>
</html>
