<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FFR F-Code Face Recognition</title>
    <script
            src="https://kit.fontawesome.com/fa12b74e4b.js"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/media/css/output.css" />
    <!-- <link href="../css/output.css" rel="stylesheet" /> -->
</head>
<body class="">
<!-- //////////////////////////////////////////////////////////////////// -->
<div class="header absolute top-0 left-0 z-40 flex w-full items-center">
    <div class="container">
        <div class="relative flex items-center justify-between">
            <div class="w-60 max-w-full px-4">
                <div class="flex-shrink-0 ml-10 cursor-pointer">
              <span
                      class="navbar-logo ml-1 text-3xl text-slate-50 font-semibold"
              >FFR</span
              >
                </div>
            </div>
            <div class="flex w-full items-center justify-between px-4">
                <div>
                    <button
                            id="navbarToggler"
                            class="absolute mt-1 right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-cyan-400 focus:ring-2 lg:hidden"
                    >
                <span
                        class="relative my-[6px] block h-[2px] w-[30px] bg-white"
                ></span>
                        <span
                                class="relative my-[6px] block h-[2px] w-[30px] bg-white"
                        ></span>
                        <span
                                class="relative my-[6px] block h-[2px] w-[30px] bg-white"
                        ></span>
                    </button>
                    <nav
                            id="navbarCollapse"
                            class="absolute right-4 top-full hidden w-full max-w-[250px] rounded-lg bg-white py-5 shadow-lg lg:static lg:block lg:w-full lg:max-w-full lg:bg-transparent lg:py-0 lg:px-4 lg:shadow-none xl:px-6"
                    >
                        <ul class="block lg:flex ml-20">
                            <li class="group relative">
                                <a
                                        href="/"
                                        class="menu-scroll mx-8 font-semibold flex py-2 text-base text-dark group-hover:text-cyan-500 lg:mr-0 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70"
                                >
                                    Home
                                </a>
                            </li>
                            <li class="group relative">
                                <a
                                        href="/about"
                                        class="menu-scroll mx-8 font-semibold flex py-2 text-base text-dark group-hover:text-cyan-500 lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12"
                                >
                                    About
                                </a>
                            </li>
                            <li class="group relative">
                                <a
                                        href="#"
                                        class="menu-scroll mx-8 font-semibold flex py-2 text-base text-dark group-hover:text-cyan-500 lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12"
                                >
                                    Recognition
                                </a>
                            </li>
                            <li class="group relative">
                                <a
                                        href="#"
                                        class="menu-scroll mx-8 font-semibold flex py-2 text-base text-dark group-hover:text-cyan-500 lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12"
                                >
                                    Team
                                </a>
                            </li>
                            <li class="group relative">
                                <a
                                        href="#"
                                        class="menu-scroll mx-8 font-semibold flex py-2 text-base text-dark group-hover:text-cyan-500 lg:mr-0 lg:ml-7 lg:inline-flex lg:py-6 lg:px-0 lg:text-white lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12"
                                >
                                    Contact
                                </a>
                            </li>
                            <li class="submenu-item group relative">
                                <a
                                        href="javascript:void(0)"
                                        class="relative mx-8 font-semibold flex py-2 text-base text-dark after:absolute after:right-1 after:top-1/2 after:mt-[-2px] after:h-2 after:w-2 after:-translate-y-1/2 after:rotate-45 after:border-b-2 after:border-r-2 after:border-current group-hover:text-cyan-400 lg:mr-0 lg:ml-8 lg:inline-flex lg:py-6 lg:pl-0 lg:pr-4 lg:text-white lg:after:right-0 lg:group-hover:text-white lg:group-hover:opacity-70 xl:ml-12"
                                >
                                    Pages
                                </a>
                                <div
                                        class="submenu relative top-full left-0 hidden w-[250px] rounded-xl bg-white p-4 transition-[top] divide-y duration-300 group-hover:opacity-100 lg:invisible lg:absolute lg:top-[110%] lg:block lg:opacity-0 lg:shadow-lg lg:group-hover:visible lg:group-hover:top-full"
                                >
                                    <a
                                            href="about.html"
                                            class="block rounded py-[10px] px-4 font-semibold duration:300 text-sm hover:bg-cyan-600 hover:text-slate-50"
                                    >
                                        About Page
                                    </a>
                                    <a
                                            href="/sign-in"
                                            class="block rounded py-[10px] font-semibold duration:300 px-4 text-sm hover:bg-cyan-600 hover:text-slate-50"
                                    >
                                        Sign In Page
                                    </a>
                                    <a
                                            href="404.html"
                                            class="block rounded py-[10px] font-semibold duration:300 px-4 text-sm hover:bg-cyan-600 hover:text-slate-50"
                                    >
                                        404 Page
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                {{#if account}}
                    <div class="hidden justify-end pr-16 sm:flex lg:pr-0">
                        <!-- rounded-full  drop-shadow-lg  bg-white-->
                        <li class="submenu-item group list-none relative">
                            <a
                                    class="user-btn mt-3 cursor-pointer py-3 px-6 text-base font-semibold text-white duration-300 ease-in-out hover:text-cyan-600"
                            >
                                <i class="fa-regular fa-user"></i>
                                <i class="fa-solid fa-circle-arrow-down"></i>
                            </a>
                            <div
                                    class="submenu relative top-full right-0 hidden w-[200px] rounded-xl bg-white p-4 transition-[top] divide-y duration-300 group-hover:opacity-100 lg:invisible lg:absolute lg:top-[110%] lg:block lg:opacity-0 lg:shadow-lg lg:group-hover:visible lg:group-hover:top-full"
                            >
                                <a
                                        href="/user/profile"
                                        class="block cursor-pointer rounded py-[10px] px-4 font-semibold duration:300 text-sm hover:bg-cyan-600 hover:text-slate-50"
                                >
                                    Profile Setting
                                </a>
                                <a
                                        class="block cursor-pointer rounded py-[10px] font-semibold duration:300 px-4 text-sm hover:bg-cyan-600 hover:text-slate-50"
                                >
                                    Fund
                                </a>
                                <a
                                        class="block cursor-pointer rounded py-[10px] font-semibold duration:300 px-4 text-sm hover:bg-cyan-600 hover:text-slate-50"
                                >
                                    Attendance
                                </a>
                                <a
                                        class="block cursor-pointer rounded py-[10px] font-semibold duration:300 px-4 text-sm hover:bg-cyan-600 hover:text-slate-50"
                                >
                                    Advance Setting
                                </a>
                                <a
                                        class="block cursor-pointer rounded py-[10px] font-semibold duration:300 px-4 text-sm hover:bg-cyan-600 hover:text-slate-50"
                                >
                                    Switch Account
                                </a>
                                <a
                                        href="/logout"
                                        class="block cursor-pointer rounded py-[10px] font-semibold duration:300 px-4 text-sm text-red-800 hover:text-red-500"
                                >
                                    Sign Out
                                </a>
                            </div>
                        </li>
                    </div>
                {{else}}
                    <div class="hidden justify-end pr-16 sm:flex lg:pr-0">
                        <a
                                href="/sign-in"
                                class="signUpBtn mt-3 cursor-pointer rounded-full bg-white py-3 px-6 text-base font-semibold text-cyan-400 duration-300 ease-in-out hover:bg-cyan-600 hover:text-slate-50 drop-shadow-lg"
                        >
                            Sign in
                        </a>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////// -->
{{#if bannerName}}
    <div
            class="relative z-10 pt-[120px] md:pt-[130px] lg:pt-[160px] pb-[100px] bg-hero bg-cyan-500 bg-cover bg-left-bottom overflow-hidden"
    >
        <div class="container">
            <div class="flex flex-wrap items-center">
                <div class="w-full px-4">
                    <div class="text-center">
                        <h1 class="font-semibold text-white text-3xl">{{bannerName}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////// -->
{{/if}}
{{{body}}}
<!-- ///////////////////////////////////////////////////////////////////////////// -->
<footer
        class="text-center bg-gray-900 text-white lg:pt-[120px] bg-hero bg-cover bg-left-top"
>
    <div class="container px-6 pt-6 mx-auto lg:pb-[50px]">
        <div class="grid lg:grid-cols-4 md:grid-cols-2">
            <div class="mb-6 text-left">
                <h5 class="font-bold mb-2.5">Product</h5>

                <ul class="list-none mb-0">
                    <li>
                        <a href="#!" class="text-white hover:text-cyan-400">Demo</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white hover:text-cyan-400">Pricing</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white hover:text-cyan-400">Road Map</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white hover:text-cyan-400">Security</a>
                    </li>
                </ul>
            </div>

            <div class="mb-6 text-left">
                <h5 class="font-bold mb-2.5">Company</h5>

                <ul class="list-none mb-0">
                    <li>
                        <a href="#!" class="text-white hover:text-cyan-400">About Us</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white hover:text-cyan-400">Career</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white hover:text-cyan-400">Press</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white hover:text-cyan-400">Support</a>
                    </li>
                </ul>
            </div>

            <div class="mb-6 text-left">
                <h5 class="font-bold mb-2.5">Resources</h5>

                <ul class="list-none mb-0">
                    <li>
                        <a href="#!" class="text-white hover:text-cyan-400"
                        >Installation Manual</a
                        >
                    </li>
                    <li>
                        <a href="#!" class="text-white hover:text-cyan-400"
                        >Release Note</a
                        >
                    </li>
                    <li>
                        <a href="#!" class="text-white hover:text-cyan-400"
                        >Community Help</a
                        >
                    </li>
                    <li>
                        <a href="#!" class="text-white hover:text-cyan-400">FAQ</a>
                    </li>
                </ul>
            </div>

            <div class="mb-6">
                <h5 class="font-bold mb-2.5 text-left">Connect with us</h5>
                <div class="flex justify-start mb-4">
                    <a
                            href="#!"
                            type="button"
                            class="rounded-full hover:text-cyan-400 border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1"
                    >
                        <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fab"
                                data-icon="facebook-f"
                                class="w-2 h-full mx-auto"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 320 512"
                        >
                            <path
                                    fill="currentColor"
                                    d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                            ></path>
                        </svg>
                    </a>

                    <a
                            href="#!"
                            type="button"
                            class="rounded-full border-2 hover:text-cyan-400 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1"
                    >
                        <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fab"
                                data-icon="twitter"
                                class="w-3 h-full mx-auto"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                        >
                            <path
                                    fill="currentColor"
                                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                            ></path>
                        </svg>
                    </a>

                    <a
                            href="#!"
                            type="button"
                            class="rounded-full hover:text-cyan-400 border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1"
                    >
                        <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fab"
                                data-icon="google"
                                class="w-3 h-full mx-auto"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 488 512"
                        >
                            <path
                                    fill="currentColor"
                                    d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
                            ></path>
                        </svg>
                    </a>

                    <a
                            href="#!"
                            type="button"
                            class="rounded-full hover:text-cyan-400 border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1"
                    >
                        <svg
                                aria-hidden="true"
                                focusable="false"
                                data-prefix="fab"
                                data-icon="instagram"
                                class="w-3 h-full mx-auto"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512"
                        >
                            <path
                                    fill="currentColor"
                                    d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                            ></path>
                        </svg>
                    </a>
                </div>
                <ul class="list-none mb-0">
                    <li>
                        <a
                                href="#!"
                                class="text-white hover:text-cyan-400 text-3xl text-left block font-bold"
                        >FFR</a
                        >
                    </li>
                    <li>
                        <p class="text-slate-100 text-sm mb-6 text-left">
                            Sign in to our FFR, to receive information about 
                            your attendance and fund monthly. We respect your privacy, 
                            Your information is safe with us.
                        </p>
                    </li>
                    <li>
                        <div>
                            <form action="">
                                <div
                                        class="grid md:grid-cols-2 gird-cols-1 gap-2 flex justify-center items-center"
                                >
                                    <div class="">
                                        <input
                                                type="text"
                                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                id="exampleFormControlInput1"
                                                placeholder="Email address"
                                        />
                                    </div>

                                    <div class="md:mr-auto">
                                        <button
                                                type="submit"
                                                class="inline-block px-6 py-2 border-2 border-white text-white font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                                        >
                                            Subscribe
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2)">
        Copyright (c) 2022 <a class="text-white">F-Code</a>. <a href="/LICENSE.txt">View license.</a>
    </div>
</footer>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // ==== for menu scroll
    const pageLink = document.querySelectorAll("menu-scroll");

    pageLink.forEach((elem) => {
        elem.addEventListener("click", (e) => {
            e.preventDefault();
            document.querySelector(elem.getAttribute("href")).scrollIntoView({
                behavior: "smooth",
                offsetTop: 1 - 60,
            });
        });
    });

    // section menu active
    function onScroll(event) {
        const sections = document.querySelectorAll("menu-scroll");
        const scrollPos =
                window.pageYOffset ||
                document.documentElement.scrollTop ||
                document.body.scrollTop;

        for (let i = 0; i < sections.length; i++) {
            const currLink = sections[i];
            const val = currLink.getAttribute("href");
            const refElement = document.querySelector(val);
            const scrollTopMinus = scrollPos + 73;
            if (
                    refElement.offsetTop <= scrollTopMinus &&
                    refElement.offsetTop + refElement.offsetHeight > scrollTopMinus
            ) {
                document.querySelector(".menu-scroll").classList.remove("active");
                currLink.classList.add("active");
            } else {
                currLink.classList.remove("active");
            }
        }
    }

    window.document.addEventListener("scroll", onScroll);
</script>

<script src="/media/js/main.js"></script>
<script src="/media/js/camera.js"></script>
</html>
