<html>
<head>
    <title>FFR - Admin</title>
</head>
<body>
{{{body}}}
<script src="/client_modules/xml-http-requester.js"></script>
<script src="/client_modules/attendance.js"></script>
</body>
</html>