<html>
<head>
    <title>Test Page</title>
</head>
<body>
    {{{body}}}

    <script>
        document.getElementById('img-submit-btn').addEventListener('click', (e) => {
            e.preventDefault()
            const data = new FormData(document.getElementById('img-form'))
            const xhr = new XMLHttpRequest()
            xhr.open('post', 'https://ffr-ai-server.yellowwater-165ae20a.eastasia.azurecontainerapps.io/api_v1')

            xhr.onload = () => {
                 if (xhr.status === 400) {
                     alert(xhr.responseText)
                 } else {
                     document.getElementById('xhr-img-displayer').innerHTML = xhr.responseText//`<img src="${xhr.responseText}">`
                 }
                console.log(xhr.responseText)
            }
            {{!-- xhr.setRequestHeader('x-requested-with', 'xmlhttprequest') --}}
            xhr.send(data)
            console.log('Data sent!')
        })
    </script>
    
    {{!-- <script src="/client_modules/xml-http-requester.js"></script> --}}

 
</body>
</html>