<!-- ////////////////////////////////////////////////////////////////////////////// -->
<section
        class="hero-section bg-[#f3f4fe] pt-20 pb-20 lg:pt-[120px] lg:pb-[120px]"
>
    <div class="container mx-auto">
        <div class="flex flex-wrap">
            <div class="w-full px-4">
                <div
                        class="items-center justify-between border overflow-hidden lg:flex"
                >
                    <div class="text-center">
                        <div class="relative z-10 inline-block">
                            {{!-- <img
                                    src="media/camera page/123ecc5d88b-30cb-4501-83df-fb6d5254f64a.png"
                                    alt="image"
                                    class="mx-auto lg:ml-auto"
                            /> --}}
                            <video autoplay id="video"></video>
                            <div class="flex justify-around pb-6">
                                <a id="btnScreenshot"
                                        class="block bg-slate-50 justify-center text-green-500 rounded-full py-3 px-9 text-base font-semibold transition duration-300 ease-in-out drop-shadow-xl hover:bg-opacity-90 hover:shadow-lg uppercase cursor-pointer"
                                >
                                    Take picture
                                </a>
                                <a 
                                        id="removeBtn"
                                        onclick="btnRemovehandle()"
                                        class="block FFR-btnDelete bg-slate-50 justify-center rounded-full py-4 px-9 text-base font-semibold transition duration-300 ease-in-out drop-shadow-xl hover:bg-opacity-90 hover:shadow-lg"
                                >
                                    <span id="remove" class="btn-remove">remove</span>
                                    <div class="icon">
                                        <i class="fa-solid fa-xmark"></i>
                                        <i class="fa-solid fa-check"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                            class="w-full py-6 px-7 sm:px-12 md:p-16 lg:max-w-[565px] lg:py-6 lg:px-16 xl:max-w-[640px] xl:p-[70px]"
                    >
                        <h2
                                class="text-center text-3xl font-bold text-dark sm:text-4xl sm:leading-snug 2xl:text-[40px]"
                        >
                            FFR
                        </h2>
                        <div
                                class="py-2 px-3 text-2xl text-center font-medium text-black"
                        >
                            Your picture is here!
                        </div>
                        <div class="flex justify-center">
                            <img   id="rectangle"
                                    src="media/camera page/Rectangle.png"
                                    alt=""
                                    class="pb-4"
                            />
                            <div id="screenshots"></div>
                        </div>

                        <div class="flex justify-center">
                            <a      id="submitBtn"
                                    onclick="btnSucceshandle() "
                                    class="inline-block acceptBtn bg-slate-50 justify-center text-green-500 rounded-full py-3 px-8 text-base font-semibold transition duration-300 ease-in-out hover:bg-opacity-90 cursor-pointer"
                            >
                                <span class="submit">Submit</span>
                                <div class="check"><i class="fa-solid fa-check"></i></div>
                            </a>
                        </div>
                        <div    id="response"
                                class="py-2 px-3 text-2xl text-center font-semibold text-black hidden"
                        >
                            Response here
                        </div>
                        <form action="/camera" method="post" enctype="multipart/form-data" id="img-form">
                            <input type="file" accept="image/*" name="img">
                            <input type="submit" onclick="postImagePlusForm();">
                            {{!-- <input type="button"  value="Submit XHR" id="img-submit-btn"> --}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <canvas hidden id="canvas"></canvas>
    <script src="/media/js/camera.js"></script>
</section>
<!-- ////////////////////////////////////////////////////////////////////// -->