<!-- ////////////////////////////////////////////////////////////////////////////// -->
<section
        class="hero-section bg-[#f3f4fe] pt-20 pb-20 lg:pt-[120px] lg:pb-[120px]"
>
    <div class="container mx-auto">
        <div class="flex flex-wrap">
            <div class="w-full px-4">
                <div
                        class="items-center justify-between border overflow-hidden lg:flex"
                >
                    <div class="text-center">
                        <div class="relative z-10 inline-block">
                            {{!-- <img
                                    src="media/camera page/123ecc5d88b-30cb-4501-83df-fb6d5254f64a.png"
                                    alt="image"
                                    class="mx-auto lg:ml-auto"
                            /> --}}
                            <video autoplay id="video"></video>
                            <div class="flex justify-around pb-6">
                                <a id="btnScreenshot"
                                        class="block bg-slate-50 justify-center text-green-500 rounded-full py-3 px-9 text-base font-semibold transition duration-300 ease-in-out drop-shadow-xl hover:bg-opacity-90 hover:shadow-lg uppercase cursor-pointer"
                                >
                                    Take picture
                                </a>
                                <a 
                                        id="removeBtn"
                                        onclick="btnRemovehandle()"
                                        class="block FFR-btnDelete bg-slate-50 justify-center rounded-full py-4 px-9 text-base font-semibold transition duration-300 ease-in-out drop-shadow-xl hover:bg-opacity-90 hover:shadow-lg"
                                >
                                    <span id="remove" class="btn-remove">remove</span>
                                    <div class="icon">
                                        <svg class="svg-inline--fa fa-solid fa-xmark" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path></svg>
                                        {{!-- <i class="fa-solid fa-xmark"></i> --}}
                                        <svg class="svg-inline--fa fa-solid fa-check" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                                        {{!-- <i class="fa-solid fa-check"></i> --}}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                            class="w-full py-6 px-7 sm:px-12 md:p-16 lg:max-w-[565px] lg:py-6 lg:px-16 xl:max-w-[640px] xl:p-[70px]"
                    >
                        <h2
                                class="text-center text-3xl font-bold text-dark sm:text-4xl sm:leading-snug 2xl:text-[40px]"
                        >
                            FFR
                        </h2>
                        <div
                                class="py-2 px-3 text-2xl text-center font-medium text-black"
                        >
                            Your picture is here!
                        </div>
                        <div class="flex justify-center">
                            <img   id="rectangle"
                                    src="media/camera page/Rectangle.png"
                                    alt=""
                                    class="pb-4"
                            />
                            <div id="screenshots"></div>
                        </div>

                        <div class="flex justify-center">
                            <a      id="submitBtn"
                                    onclick="btnSucceshandle() "
                                    class="inline-block acceptBtn bg-slate-50 justify-center text-green-500 rounded-full py-3 px-8 text-base font-semibold transition duration-300 ease-in-out hover:bg-opacity-90 cursor-pointer"
                            >
                                <span class="submit">Submit</span>
                                <div class="check">
                                    <svg class="svg-inline--fa fa-solid fa-check" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z"></path></svg>
                                    {{!-- <i class="fa-solid fa-check"></i> --}}
                                    </div>
                            </a>
                        </div>
                        <div    id="response"
                                class="py-2 px-3 text-2xl text-center font-semibold text-black hidden"
                        >
                            Response here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <canvas hidden id="canvas"></canvas>
   
</section>
<!-- ////////////////////////////////////////////////////////////////////// -->