    <div
      class="flex items-center justify-center h-screen w-screen max-h-full bg-hero bg-cover bg-center overflow-hidden bg-cyan-500 pt-[60px]"
    >
      <div class="px-4 container">
        <div class="lg:gap-6 lg:flex">
          <div
            class="flex flex-col items-center justify-center lg:ml-[7rem] md:ml-[4rem]"
          >
            <h1 class="font-bold text-slate-50 text-9xl">{{code}}</h1>
            <p
              class="mb-2 text-2xl font-bold text-center text-white md:text-3xl"
            >
              {{status}}
            </p>
            <p class="mb-8 text-center text-gray-500 md:text-lg">
              {{message}}
            </p>
            <a
              href="/"
              class="px-6 py-2 text-sm font-semibold rounded-2xl text-cyan-400 bg-white duration-300 ease-in-out hover:bg-cyan-600 hover:text-slate-50 drop-shadow-lg"
              >Go home</a
            >
          </div>
          <div class="mx-auto hidden lg:block xl:block">
            <img src="/media/404/Frame.png" alt="img" class="w-full" />
          </div>
        </div>
      </div>
    </div>