<div id="displayer"></div>
<form id="mainForm" enctype="application/x-www-form-urlencoded">
    <input type="text" name="studentId">
    <button type="button" id="mainFormSubmit">Find</button>
</form>