<h1>Test</h1>
{{#if imgPath}}
    <img src="{{imgPath}}" alt="return image">
{{else}}
    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
    <form action="/test" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="img">
        <input type="submit">
    </form>
{{/if}}
